<a href="https://colab.research.google.com/github/J0SAL/Learning-ML/blob/main/Codebasis/10NaiveBasis/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Naive Bayes on Wine Dataset**

In [20]:
from sklearn.datasets import load_wine
wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [22]:
import pandas as pd
df = pd.DataFrame(wine.data, columns=wine.feature_names)

In [30]:
df['target'] = wine.target
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0
3    14.37        1.95  2.50  ...                          3.45   1480.0       0
4    13.24        2.59  2.87  ...                          2.93    735.0       0

[5 rows x 14 columns]

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X=df.drop(['target'],axis='columns')
y=df.target

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [33]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
m1 = GaussianNB()
m2 = MultinomialNB()

In [34]:
m1.fit(X_train, y_train)
m2.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [36]:
print("Model 1 Score : ",m1.score(X_test, y_test))
print("Model 2 Score : ",m2.score(X_test, y_test))

Model 1 Score :  0.9777777777777777
Model 2 Score :  0.8888888888888888