<a href="https://colab.research.google.com/github/J0SAL/Learning-ML/blob/main/Codebasis/12PCA/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PCA** 
heart disease prediction exercise

In [27]:
import pandas as pd

df=pd.read_csv("heart.csv")
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [28]:
df.shape

(918, 12)

In [29]:
#Outliers
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [30]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [32]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [33]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
166   50   M           ASY  ...      5.0      Flat             1
702   59   M            TA  ...      4.2      Down             0
771   55   M           ASY  ...      5.6      Down             1
791   51   M           ASY  ...      4.2      Flat             1
850   62   F           ASY  ...      6.2      Down             1
900   58   M           ASY  ...      4.4      Down             1

[6 rows x 12 columns]

In [34]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [35]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
109   39   M           ATA  ...      0.0        Up             0
241   54   M           ASY  ...      2.0      Flat             1
365   64   F           ASY  ...      1.0      Flat             1
399   61   M           NAP  ...      0.0      Flat             1
592   61   M           ASY  ...      2.0      Down             1
732   56   F           ASY  ...      4.0      Down             1
759   54   M           ATA  ...      0.0        Up             1

[7 rows x 12 columns]

In [36]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [37]:
print(df.ChestPainType.unique())
print(df.RestingECG.unique())
print(df.ExerciseAngina.unique())
print(df.ST_Slope.unique())

['ATA' 'NAP' 'ASY' 'TA']
['Normal' 'ST' 'LVH']
['N' 'Y']
['Up' 'Flat' 'Down']

In [38]:
df4 = df3.copy()
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df4.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0         3             0
1   49   F           NAP  ...      1.0         2             1
2   37   M           ATA  ...      0.0         3             0
3   48   F           ASY  ...      1.5         2             1
4   54   M           NAP  ...      0.0         3             0

[5 rows x 12 columns]

In [39]:
df5 = pd.get_dummies(df4, drop_first=True)
df5.head()

   Age  RestingBP  ...  ChestPainType_NAP  ChestPainType_TA
0   40        140  ...                  0                 0
1   49        160  ...                  1                 0
2   37        130  ...                  0                 0
3   48        138  ...                  0                 0
4   54        150  ...                  1                 0

[5 rows x 14 columns]

In [40]:
X = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease

In [41]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [42]:

from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [44]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.8784530386740331

# Using PCA

In [45]:
from sklearn.decomposition import PCA

pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca

array([[ 93.82465373, -29.40099458],
       [-15.58422331, -14.10909233],
       [ 83.29606634,  38.6867453 ],
       ...,
       [-67.57318721,  17.61319354],
       [ 40.70458237, -33.38750602],
       [-19.91368346, -37.29085722]])

In [46]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [47]:
model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca, y_test)

0.7016574585635359